.add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}

.add button {
  border-style: none;
  width: 5.5rem;
  height: 3rem;
  border-radius: 5px;
  background-color: var(--blue-dark);
  color: #FFF;
  font-weight: bold;
  margin-left: 16px;
  cursor: pointer;
}

.add button:hover {
  filter: brightness(0.9);
}